.outputContainer {
    display: flex;
    border: 1px solid black;
    width: 221.5px;
    height: 65px;
    font-size: xx-large;
    align-items: flex-end;
    justify-content: flex-end;
}

.output {
    margin-right: 5px;
}